@import '../../shared.module.scss';

.imageBorder {
    position: relative;

    display: flex;
    flex-direction: column;

    width: min-content;

    border: 2px solid #ffffff;

    margin: 10px;

    box-shadow: 0px 0px 10px $Grey;

    cursor: pointer;
}

.imageSelected {
    box-shadow: 0px 0px 10px $Primary;
    border: 2px solid $Primary;
}

.image {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.imageText {
    width: 100px;

    margin-top: auto;
    margin-bottom: auto;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: center;

    font-family: $Default-Font-Family;
    font-size: $Small-Font-Size;
}

.imageButtons {
    width: 100px;
}

.statusIndicator {
    position: absolute;

    right: 5px;
    top: 70px;

    width: 25px;
    height: 25px;

    border-radius: 50%;
    background-color: $Grey;
    color: $Light;

    font-size: 14px;
    box-shadow: 0px 0px 5px $DarkGrey;
}

.statusProcessing {
    animation: throb 1.5s infinite ease-in-out;

    @keyframes throb {
        0%, 100% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.2);
            opacity: 0.7;
        }
    }
}

.statusConfirmed {
    background-color: $Success;
    display: flex;
    align-items: center;
    justify-content: center;
}